.card{
    min-width: 500px;
    min-height: 650px;
    max-width: 500px;
    max-height: 650px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    font-family: 'Konkhmer Sleokchher', cursive;
    margin-left: 5%;
    border-radius: 3px;
}
.card-title{
    font-family: 'Alef', sans-serif;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 80px;
    background: -webkit-linear-gradient(rgb(118, 206, 124),rgba(45, 114, 183, 0.785));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;  
}
body{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ashe_8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.card label{
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 50px;
}
 button{
    margin-left: 35%;
    margin-top: 30px;
    height:60px ;
    width: 120px;
    font-size: 20px !important;
    border-radius: 15px !important;
}
a{
    border-radius: 15px !important;
    margin-top: 30px;
    margin-left: 20%;
    height: 60px;
    width: 250px;
    font-size: 20px !important;
    border:1px solid #d13639 !important;
}
a:hover{
    background-color: #d13639!important;
}
a p{
    margin-top: 5%;
    color: #d13639 !important;
}
a p:hover{

    color: white !important;
}
.form-control{
    margin-top: 30px;
    background-color: rgb(126,126,126,0.1);
    min-height: 4.325em;
    outline: none;
    border: 2px transparent;
    border-radius: 5px;
}
.form-control:focus{
    border:2px solid #000000b3;
}
.card-body{
    padding:20px;
}