.card{
    width: 400px;
    height: 550px;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 10px;
    margin-top: 10%;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
   
}
.card-title{
    text-align: center;
    color:#000;
    font-weight: bold;
    font-size: 40px;
}
body{
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ashe_8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.card label{
    margin-top: 40px;
    text-align: start;
    font-weight: bold;
    color: #000;
    font-size: 25px;
}
 button{
    margin-left: 35%;
    margin-top: 30px;
}
a{
    margin-top: 30px;
    margin-left: 20%;
}
.form-control{
    margin-top: 30px;
    background-color: transparent;
}
