<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/champ-description.css">
  <script src="../js/champ-description.js"></script>
  <title>League of Legends - Overview</title>
</head>
<body>
  <div id="main-container" class="main-container">
    <div class="overlay"></div>
    <div class="container">
        <!-- Contenido del contenedor izquierdo -->
        <div class="champion-info">
          <div class="champion-details">
            <h1 id="champ-name"></h1>
            <p id="champ-title"></p>
            <p id="champ-description"></p>
          </div>
        </div>
        <div class="stats">
          <div class="stat">
            <div id="attack"></div>
          </div>
          <div class="stat">
            <div id="defense"></div>
          </div>
          <div class="stat">
            <div id="mage"></div>
          </div>
          <div class="stat">
            <div id="difficulty"></div>
          </div>
        </div>
    </div>
    <div class="container" id="right">
      <div id="passive"></div>
      <div id="q"></div>
      <div id="w"></div>
      <div id="e"></div>
      <div id="r"></div>
    </div>
  </div>
</body>
</html>

