* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
}
.letterTitle {
    
}
.letterContent {

}
.header {
    overflow: auto;
    background-image: linear-gradient(to right, #131313, #292929);
    border-bottom: 5px solid #C89B3C;
    height: 10%;
}
.header h1 {
    text-align: center;
    color: white;
}
.mainFrame {
    padding: 30px;
}
.sideLeft {
    float: left;
    width: 20%;
    padding: 10px;
}
.mastery {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #C89B3C;
    overflow: hidden;
    clip-path: polygon(25% 0%, 100% 0%, 100% 75%, 75% 100%, 0% 100%, 0% 25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.mastery .totalPoints {
    color: #785A28;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}
.mastery p {
    font-size: 20px;
    font-weight: bold;
    color: #C89B3C;
    text-align: center;
}



.filter {
    margin-top: 30px;
}
.orderCustom {
    display: flex;
    margin: 20px 0;
    width: 100%; 
}
.orderCustom .option {
    background-color: #C89B3C;
    padding: 10px 20px;
    margin: 1px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    transition: transform 0.2s ease;
    z-index: 0;
}
.orderCustom .option:hover {
    cursor: pointer;
    background-color: #785A28;
    color: white;
}
.orderCustom .firstOp {
    border-radius: 10px 0 0 10px;
}
.orderCustom .lastOp {
    border-radius: 0 10px 10px 0;
}
.orderCustom .selected {
    background-color: #785A28;
    z-index: 1;
    transform: scale(1.1);
    border: 1px solid black;
    color: white;
}



.listCollection {
    float: right;
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.champFrame {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 200px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%, 0% 15%);
    transition: clip-path 0.3s;
}
.champFrame:hover {
    cursor: pointer;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%, 0% 0%);
}
.champFrame:hover img {
    transform: scale(1);
}
.champFrame:hover .bannerMasteryChamp {
    height: 15%;
}
.champFrame:hover .pMasteryPoints {
    opacity: 1;
}
.champFrame:hover .bannerNameChamp p {
    margin-left: 20px;
}
.champFrame img {
    transform: scale(1.10);
    transition: transform 0.3s;
    width: 100%;
    display: block;
}
.bannerMasteryChamp {
    border-top: 1px solid #C89B3C;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 15%;
    background-color: #5b5a56df;
    transition: height 0.3s;
}
.pMasteryPoints {
    opacity: 0;
    color: white;
    margin-left: 30px;
    transition: opacity 0.2s;
}
.divMasteryIcon {
    opacity: 1;
    width: auto;
    height: 80%;
    width: 25%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divMasteryIcon img {
    height: 100%;
    width: auto;
}
.bannerNameChamp {
    border-top: 1px solid #C89B3C;
    display: flex; 
    align-items: center;
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    background-color: #292929;
}
.bannerNameChamp p {
    margin: 0;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    max-width: 75%;
    transition: margin-left 0.3s;
}
